.timeline-box:nth-of-type(odd) {
    float: right;
    clear: right;
}

.timeline-box:nth-of-type(odd) .timeline-box-inner {
    margin-left: 35px;
    margin-right: 0;
}

.timeline-box:nth-of-type(odd) .timeline-box-inner .arrow {
    left: -12px;
    right: unset;
    background-position: 0 0;
}

.timeline-box:nth-of-type(odd) .timeline-box-inner .arrow:before{
    margin-left: 2px;
    margin-right: unset;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 10px solid #fff;
    border-left: unset;
}

.timeline-box:nth-of-type(odd) .dot {
    left: 0;
    right: unset;
    margin-left: -4px;
}
